# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
dist/
build/
data/

# Virtual environment
venv
.env/
.env.*

# =========================
# Jupyter / ML
# =========================
.ipynb_checkpoints/
*.onnx
*.pt
*.h5
*.ckpt

# =========================
# Rust
# =========================
target
Cargo.lock

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# Kaggle
# =========================
kaggle.json